/Databases Advanced - Entity Framework/Code-First/Hospital/P01_HospitalDatabase.Data/Configuration.cs
/Databases Advanced - Entity Framework/Code-First/SalesDatabase/P03_SalesDatabase.Data/Configuration.cs
/Databases Advanced - Entity Framework/Databases Advanced Entity Framework/L01.Databases Advanced_EntityFramework/Configuration.cs
/Databases Advanced - Entity Framework/Entity Relations/StudentSystem/P01_StudentSystem.Data/Configuration.cs
/Databases Advanced - Entity Framework/Entity Relations/FootballBetting/P03_ FootballBetting.Data/Configuration.cs
/Databases Advanced - Entity Framework/Advanced Relations/P01_BillsPaymentSystem.Data/Configure.cs
